body {
  margin: 0px;
  padding: 0px;
  background-color: #12132a;
}

/*  ---------------------| hero-section |-------------------------------  */


#hero-section {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
}

#hero-section h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 100;
  font-size: 58px;
  color: aliceblue;
  letter-spacing: 9px;
  background-image: url("./image/haaa.png");
  background-position: -10px;

  background-repeat: no-repeat;
  width: 415px;
  background-size: 320px;
  padding-top: 10px;
}

#p1-hero-section {
  width: 300px;
  color: #767799;
  margin-bottom: -1px;
}

#p2-hero-section {
  padding-left: 12px;
  padding-right: 12px;
  font-size: x-large;
  width: 80%;
  color: white;
  font-size: xx-large;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#hero-section img {
  height: 450px;
}

.arrow-rt {
  color: rgba(255, 255, 255, 0.447);
  z-index: 1;
}

.button-div {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  width: 100%;
  align-items: center;
}

.button {
  height: 33px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgba(250, 235, 215, 0);
  color: rgb(112, 114, 114);
  border: 1px solid;
  border-radius: 16px;
}

.button:hover {
  color: rgb(255, 255, 255);
}

.button-div div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#felt-row {
  color: aliceblue;
}

.foter-header {
  min-height: 73px;
  width: 100%;
  margin-top: -14px;
  background-color: #162446;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.foter-header img {
  height: 34px;
}

#arrow_0 {
  position: absolute;
  top: 0px;
  left: 360px;
}


/*  ---------------------| main |-------------------------------  */

/*-----div-main-1--------- */

.div-main-1-1{
      padding: 23px ;
}

.div-main-1-2{
      display: flex;
      justify-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 12px;
      padding: 60px;
}
.div-main-1-1 h1{
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 100;
      text-align: center;
      color: #FFFFFF;
}

.div-main-1-1 p{
        color:#767799 ;
        text-align: center;
}
.numbers-cart{
      font-size: 40px;
      text-align: start;
      margin-top: 0px;

}
.auto-carts{
      border: 1px solid #C23893;
      width: 250px;
      border-radius: 16px;
      text-align: center;
      padding: 10px;
      
}

.auto-carts h2,.auto-carts p{
        color: #FFFFFF;
}

.auto-carts span{
      font-size: 70px;
      padding-bottom: 99px;
}

/*-----div-main-2--------- */

.div-main-2{
    display: flex;
    justify-content: space-around;
    padding: 73px;
}
.iphon2 img{
       margin-top: -95px;
       height:  496px;
      
}

.div-main-2-1 p{
       color: #ffffff54;
}
.div-main-2-1 p:first-child{
     color: #C23893;
     font-family: "Plus Jakarta Sans", sans-serif;
     margin-bottom: -20px;
     font-size: 19px;
}
.div-main-2-1 h5{
     color: #FFFFFF;
     font-family: "Plus Jakarta Sans", sans-serif;
     margin-top: -12px;
     margin-bottom: -12px;
    
}
.div-main-2-1 h1{
     color: #FFFFFF;
     font-family: "Plus Jakarta Sans", sans-serif;
}

.main-2-icon-h5{
      display: flex;
      align-items: center;
      gap: 12px
}

.carts-2{
    width: 50%;
}

/* ---div-main-3-------- */

.div-main-3{
    padding-left: 50px;
  
}
.div-main-3 h1{
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 50px;
      color: #FFFFFF;
}

.div-main-3 p{
     color: #ffffff51;
} 

.div-main-3-1{
       display: flex;
       justify-content: space-between;
}

.div-main-3 img{
     margin-top: -50px;
     height: 500px;
    
}











@media screen and (max-width: 827px) {
  #hero-section h1 {
    font-size: 30px;
    color: aliceblue;
    letter-spacing: 6px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 210px;
    padding-top: 10px;
    
  }

  #p1-hero-section {
    width: 300px;
    color: #767799;
  }

  #hero-section img {
    height: 325px;
  }

  #hero-img-continer {
    background-image: url("./image/iphon-back.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 630px ;
    padding-top: 10px;
  }

  #arrow_0 {
    top: 34px;
    height: 89px;
    left: 310px;
  }

  #p1-hero-section {
    width: 250px;
  }

  .foter-header{
     margin-top: -7px;
  }

  /*-----div-main-2--------- */ 
  .div-main-2{
    padding: 33px;
    
}
.iphon2 img{
       margin-top: -5px;
       height: 350px;
       
}

.carts-2{
    width:100%;
}

 /*-----div-main-3--------- */

 .div-main-3 img{
     height: 340px;
    
}

 .div-main-3{
    padding: 22px;
 }

.div-main-3 h1{
      font-size: 33px;
      color: #FFFFFF;
}



}

@media screen and (max-width: 600px) {
  #hero-section {
    flex-direction: column-reverse;
  }
  #hero-img-continer {
    border: 2px solid rgba(168, 168, 168, 0.41);
    border-radius: 23px;
    text-align: center;
  }
   #hero-section img {
    margin-bottom: -5px;
  }

  #hero-section h1 {
    width: 100%;

    background-position: -10px;

    background-repeat: no-repeat;

    background-size: 320px;
    padding-top: 10px;
  }

  #p1-hero-section {
    width: 300px;
    color: #767799;
  }

  #hero-section br {
    display: inline;
  }

  .button-div {
    justify-content: space-around;
  }

  #arrow_0 {
    display: none;
  }

  .div-main-2{
    flex-wrap: wrap;
  }
  
  .div-main-3-1{
    flex-wrap: wrap;
}

.foter-header{
  min-height: 53px;
    
}

.foter-header img {
  height: 17px;

}


}






